[Unit]
Description=FastAPI instance to serve barber_api
After=network.target

[Service]
User=marcos-viana
Group=www-data
WorkingDirectory=/home/marcos-viana/api/barber_api
Environment="PATH=/home/marcos-viana/api/barber_api/venv/bin"
ExecStart=/home/marcos-viana/api/barber_api/venv/bin/uvicorn --workers 2 --bind unix:barber_api.sock -m 007 main

[Install]
WantedBy=multi-user.target